html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    color: black;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    width: 100%;
    height: 100%;
}

.header {
    max-width: 1397px;
    min-height: 135px;
    margin-left: 23px;
    margin-right: 20px;
}

.headline {
    max-width: 182px;
    min-height: 103px;
    text-align: left;
    padding: 0;
    margin: 16px 20px 16px 0px;
    display: inline-block;

}

.nav {
    max-width: 1195px;
    min-height: 19px;
    text-align: right;
    list-style: none;
    display: inline-block;
    position: absolute;
    margin: 58px 0px 58px 202px;
    right: 0;
}

.li-1,
.li-2,
.li-3,
.li-4 {
    display: inline;
    padding: 0px 55px 0px 0px;
}

.li-4 {
    padding: 20px;
}

.hero_section {
    background-image: url(images/inside-weather-Uxqlfigh6oE-unsplash\ 1.jpg);
    width: 100%;
    height: 613px;
    position: relative;
}

.title_section {
    background-color: white;
    min-width: 690px;
    min-height: 361px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.title {
    width: 100%;
}

.subtitle {
    width: 100%;
}


.Biography {
    display: flex;
    max-width: 1165px;
    margin: 150px auto;
    box-sizing: border-box;
}

.img_Katya_Mills {
    width: 49%;
    object-fit: cover;


}

.description_Katya_Mills {
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.heading_Biography {
    flex-grow: 1;
}

#Biography {
    margin: 0;
    transform: rotate(-90deg) translateX(-40%);
}

.author {
    width: 100%;
}

.list-1 {
    width: 100%;
}

.quote1 {
    width: 100%;
}

.dash {
    width: 20px;
    height: 6px;
    margin: 0px 0px 18px 0px;
}

.Testimonials {
    display: grid;
    max-width: 1165px;
    min-height: 760px;
    margin: 150px auto;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    justify-content: center;


}

.website-section {
    display: grid;
    min-height: 760px;
    grid-template-rows: 190px 190px 190px;
    row-gap: 70px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.web-1,
.web-2,
.web-3 {
    margin: 0;
    transform: rotate(-90deg) translate(-10%, 50%);
}

#Testimonials {
    margin: 0;
    transform: rotate(-90deg) translate(-40%, -100%);
}

.blockquote-testimonials {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 42px;
}

.img-cafeteria {
    max-width: 451px;
    object-fit: cover;
}

.img-photo {
    max-width: 221px;
    object-fit: cover;
}

.heading_Designers {
    max-width: 334px;
    margin-bottom: 30px;
    margin-left: 139px;
}

.designers-section {
    width: 100%;
    min-height: 619px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: end;
    overflow-x: scroll;

}

.designer-Jess-Wonder {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.img-designers {
    object-fit: cover;
}

.heading_Strong_points {
    max-width: 333px;
    margin-left: 258px;
    margin-bottom: 30px;
}

.strong-points-section {
    width: 100%;
    min-height: 554px;
    display: flex; /* fallback */
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 150px;
    overflow-x: scroll
}

.img-strong-points-1,
.img-strong-points-2,
.img-strong-points-3,
.img-strong-points-4 {
    max-width: 335px;
    object-fit: cover;
}

.img-strong-points-1,
.designer-Jess-Wonder {
    padding-left: 20px;
}

.Strengths-list {
    max-width: 451px;

}

.heading_Strengths {
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 28px;
}

.list-2 {
    padding-left: 118px;
    padding-bottom: 18px;
}

.footer {
    width: 100%;
    min-height: 168px;
    background-color: #0D0D0D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.address,
.text_footer,
.text_footer3 {
    flex-basis: 30%;
}

.address {
    padding-left: 20px;
}

.text_footer {
    text-align: center;
    display: inline-block;
}

.text_footer1,
.text_footer2 {
    display: inline;
}

.text_footer3 {
    text-align: right;
    padding-right: 20px;
}




    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    column-gap: 20px;